---
layout : default
---

<table class="body">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper">
						<table class="six columns">
							<tr>
								<td>
									<h2>Hello,<br> {{ data.name }}</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
						<table class="six columns">
							<tr>
								<td class="panel">
									<p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
								</td>

								<td class="expander"></td>
							</tr>
						</table>
						<table class="six columns">
							<tr>
								<td>
									<br>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

									{{> button text="Shop Now!"}}

								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
					<td class="wrapper last">

						<table class="six columns">
							<tr>
								<td class="panel">
									<h6>Header Thing</h6>
									<p>Sub-head or something</p>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
									<hr>
									<table>
										<tr>
											<td>
												<a href="#">Just a Plain Link &raquo;</a>
											</td>
										</tr>
									</table>
								</td>
								<td class="expander"></td>
							</tr>
						</table>

						<br>

						<table class="six columns">
							<tr>
								<td class="panel">
									<h6>Lorem Ipsum</h6>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitationla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</td>
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>

